{% extends 'base_template.html' %}

{% block title %}
	Photographers
{% endblock %}

{% block body %}

	{% if photographersAll %}
		<ul>
			{% for photographer in photographersAll %}
			
				 <li><a href="{% url 'users:users-detail' photographer.PhotographerID %}"> {{ photographer.UserName }} </a> 
				 &nbsp;&nbsp;&nbsp;
				 
				 <form method="post" action="{% url 'users:users-delete' photographer.PhotographerID %}">
				 	{% csrf_token %}
				 	<button type="submit">Delete</button>
				 </form>
				 </li>
				 <br>
				 
			{% endfor %}
		</ul>
	{% else %}
		<h3>No one is here to show</h3>
	{% endif %}

{% endblock %}