<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">

	<title>{% block title %} Click-A-Foto {% endblock %}</title>
	<!-- Link to google font -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Satisfy">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<body>
<h1> This is from Base HTML </h1>

{% block body %}
{% endblock %}

</body>
</html>